<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>	

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>
<h1><%= title %></h1>
<form action="/product/add" method="post" name="form1">
	<table width="25%" border="0">
		<tr> 
			<td>Tree Name</td>
			<td><input type="text" name="name" id="name" value="<%= name %>" /></td>
		</tr>
		<tr> 
			<td>Price</td>
			<td><input type="text" name="price" value="<%= price %>" /></td>
		</tr>
		<tr> 
			<td>Description</td>
			<td><input type="text" name="description" value="<%= description %>" /></td>
		</tr>
		<tr> 
			<td></td>
			<td><input type="submit" name="Submit" value="Add" /></td>
		</tr>
	</table>
</form>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
