
	<h1><%= title %></h1>
	<form action="/product/edit/<%= id %>" method="post" name="form1">
		<table width="25%" border="0">
			<tr> 
				<td>Tree Name</td>
				<td><input type="text" name="name" id="name" value="<%= name %>" /></td>
			</tr>
			<tr> 
				<td>Price</td>
				<td><input type="text" name="price" value="<%= price %>" /></td>
			</tr>
			<tr> 
				<td>Description</td>
				<td><input type="text" name="description" value="<%= description %>" /></td>
			</tr>
			<tr> 
				<td>Category</td>
				<td><input type="text" name="category" value="<%= category %>" /></td>
			</tr>
			<tr> 
				<td>Conditions Of Place</td>
				<td><input type="text" name="conditionsOfPlace" value="<%= conditionsOfPlace %>" /></td>
			</tr>
			<tr> 
				<td>Maintance Requirements</td>
				<td><input type="text" name="maintanceRequirements" value="<%= maintanceRequirements %>" /></td>
			</tr>
			<tr> 
				<td>Max Height</td>
				<td><input type="text" name="maxHeight" value="<%= maxHeight %>" /></td>
			</tr>
			<tr> 
				<td>Growth Rate</td>
				<td><input type="text" name="growthRate" value="<%= growthRate %>" /></td>
			</tr>
			<tr> 
				<td>Image URL</td>
				<td><input type="text" name="imageURL" value="<%= imageURL %>" /></td>
			</tr>
			<tr> 
				<td></td>
				<td><input type="submit" name="Submit" value="Save Changes" /></td>
			</tr>
		</table>
		<input type="hidden" name="_method" value="PUT" />
	</form>