
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	

<div class="container">
	<br><br>
	<h1><%= title %></h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Descripion</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
  	<% if (data) { %>
  		<% data.forEach(function(product) { %>
            <tr>
              <td scope="row"><%= product._id %></td>
              <td><%= product.name %></td>
              <td><%= product.name %></td>
              <td><img src="<%= product.imageURL %>" width="30px" ="150px" class="card-img-top" alt="photo"></td>
              <td>$<%= product.price %></td>
              <td><%= product.description %></td>
              <td><a class="btn btn-success btn-sm mt-1 white-text" href='/product/edit/<%= product._id %>'>Edit</a></td> 
              <td>      
                <form method="post" action="/product/delete/<%= product._id %>">
                  <input class="btn btn-danger btn-sm" type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
                  <input type="hidden" name="_method" value="DELETE" />
                </form>
              </td>
            </tr>
  			</div>
  		<% }) %>
  	<% } %>
    </tbody>
  </table>
</div>
<%- include ../layouts/footer.ejs %>