
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	


<div class="container">
	<br><br>
	<h1><%= title %></h1>
	<% if (data) { %>
		<% data.forEach(function(product) { %>
			
  			<div class="col-lg-3 col-md-4" style="float left; display: inline-block;">
				<!--Card-->
				<div class="card">
					<!--Card image-->
					<div class="view">
						<img src="https://mashtalegypt.com/wp-content/uploads/2017/06/lemon33.png" width="30px" ="150px" class="card-img-top" alt="photo">
						<a href="#">
						<div class="mask rgba-white-slight"></div>
						</a>
					</div>
					<!--Card content-->
					<div class="card-body">
						<!--Title-->
						<h4 class="card-title"><%= product.name %></h4>
						<h4>
							<span class="green-text"><strong>$<%= product.price %></strong></span>
							<span class="grey-text"><small><s>$100</s></small></span>
				        </h4>
						<!--Text-->
						<p class="card-text"><%= product.description %></p>
						<a class="btn btn-success btn-sm" href='/product/edit/<%= product._id %>'>Edit</a> &nbsp;							
						<form method="post" action="/product/delete/<%= product._id %>" style="float:right">
							<input class="btn btn-danger btn-sm" type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
							<input type="hidden" name="_method" value="DELETE" />
						</form>
					</div>

				</div>
				<!--/.Card-->
			</div>
		<% }) %>
	<% } %>

</div>
<%- include ../layouts/footer.ejs %>
